<div class="col s12 center" id="social-icons">
  <a mat-icon-button href="https://www.instagram.com/bassnoisemusic/">
    <i class="fab fa-instagram"></i>
  </a>
  <a mat-icon-button href="https://www.facebook.com/BassNoiseMusic">
    <i class="fab fa-facebook-square"></i>
  </a>
  <a mat-icon-button href="https://www.youtube.com/@BassNoise">
    <i class="fab fa-youtube-square"></i>
  </a>
  <a mat-icon-button href="https://open.spotify.com/artist/0nkOUHv7t3IBSxtiKFJjWu?si=NFtYLSRtROq-wWwXBoZI4Q">
    <i class="fab fa-spotify"></i>
  </a>
  <a mat-icon-button href="https://music.apple.com/mx/artist/bassnoise/791873535">
  <span class="fa-apple-music fa-stack">
    <i class="fa fa-square"></i>
    <i class="fa fa-music"></i>
  </span>
  </a>
</div>
