#title {
  height: 75vh;
  width: 100vw;
  background: url('/assets/images/tocandobassnoise1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  @media screen and (max-width: 768px) {
    height: 50%;
    background-size: cover;
    background-position: 50% 50%;
  }
  .row {
    height: 100%;
    @media screen and (max-width: 768px) {
      background: #000b;
    }
    .col {
      padding: 10%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

h3 {
  font-weight: 800;
}


.service-row {
  padding: 1em 2em;
  border-top: 1px solid #E0E0E0;
}