@mixin center-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

@mixin glowfx {
  box-shadow: 0 0 32px 21px rgb(77 200 233 / 20%);
}

@mixin glowfx-out-in($opacity: .20) {
  box-shadow: 0 0 32px 21px rgba(77, 200, 233, $opacity), inset 0 0 32px 21px rgba(77, 200, 233, $opacity);
}

@mixin toggle {
  transition: 0.4s cubic-bezier(0, -0.01, 0, 1.04);
}

.start-container {
  @include toggle;
  width: 100vw;
  height: 110vh;
  background: url('/assets/images/fer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .content {
    @include center-center;
    @include toggle;
    flex-direction: column;
    justify-content: space-evenly ;
    height: 100%;
    width: 100%;
    .logo-box {
      @include center-center;
      @include toggle;
      width: 33%;
    }
  }
  #menu-container {
    height:10%;
    width: 50%;
    @include center-center;

  }
  @media screen and (max-width: 768px){
    background-position: 35%;
    justify-content: space-between;
    height: 92%;
    .content {
      flex-direction: column-reverse;
      height: 66%;
      .logo-box {
        height: 120px;
        width: 66%;
      }
    }
  }
}

@keyframes ping {
  0% { @include glowfx-out-in(.20)}
  50% { @include glowfx-out-in(.40)}
  100% { @include glowfx-out-in(.20)}
}

.start-container.opened {
  height: 10vh;
  flex-flow: row;
  .content {
    width: 33%;
    padding: 0 1em;
    align-items: baseline;
  }
  .logo-box {
    width: 66% !important;
    .logo-image {
      height: 100%;
      justify-content: flex-start;
      @media screen and (max-width: 768px) {
        justify-content: center;
      }
      ::ng-deep {
        app-logo-svg {
          width: 50%;
          height: 100%;
          .cls-1 {
            fill: #E0E0E0 !important;
          }
        }
      }
    }
  }
  app-social-icons {
    width: 33%;
    padding: 0 1em;
    ::ng-deep #social-icons {
      display: flex;
      justify-content: flex-end;
    }
  }
  #menu-container {
    ::ng-deep #main-menu {
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 768px) {
    flex-flow: column;
    height: 35vh;
    justify-content: space-evenly;
    .content {
      align-items: center;
      width: 100%;
      height: 50px;
    }
    app-social-icons {
      width: 100%;
      ::ng-deep #social-icons {
        display: flex;
        justify-content: space-evenly;
      }
    }
    #menu-container {
      width: 75%;
      ::ng-deep {
        #main-menu {
          flex-direction: row;
        }
      }
    }
  }
}

