<section id="title">
  <div class="row">
    <div class="col s12 l8">
      <h3>
        <span class="text-gradient">Hablemos</span> <br> 
        de tu proyecto
      </h3>
    </div>
    <div class="col s12 l4">
      <app-contacto-form></app-contacto-form>
    </div>
  </div>
</section>


<section id="social-section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="section-title">SOCIAL</h2>

        <div id="social-grid">
          <div class="social-item">
            <span>
              Escúchame <br>
              <a href="">
                spotify <mat-icon>open_in_new</mat-icon>
              </a>
            </span>
          </div>
          <div class="social-item">
            <span>
              Sígueme <br>
              <a href="">
                instagram <mat-icon>open_in_new</mat-icon>
              </a>
            </span>
          </div>
          <div class="social-item">
            <span>
              Suscríbete <br>
              <a href="">
                youtube <mat-icon>open_in_new</mat-icon>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section id="red-room">
  <div class="container">
    <div class="row">
      <div class="col s12 l4">
        <h2 class="section-title">RED ROOM</h2>

        <p>
          Ubicación:<br>
          <b>Villa de Álvarez, Col.</b>
        </p>

        <p>
          Email:<br>
          <b>bassnoisemusic@gmail.com</b>
        </p>
      </div>

      <div class="col s12 l8">
        <div class="fer-image-container">
          <img src="/assets/images/en-el-redroom.png" alt="Bassnoise - Foto en el Red Room">
        </div>
      </div>
    </div>
  </div>
</section>