:host {
  width: 100%;
}

#main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 120px;
  }
}

.menu-item {
  color: #E0E0E0;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.80);
  }
}
